body {
    margin: 0;
}
.first {
    background-color:  #1f2937;
    display: flex;
    flex-direction: column;
    padding-left: 15%;
    padding-right: 15%;
    padding-bottom: 10%;
}

.first-h {
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 0;
}

.header-l {
    font-size: 18px;
    color: #e5e7eb;
    display: flex;
    gap: 20px;
    padding-right: 20px;
}

.header {
    font-size: 24px;
    color: #f9faf8;

}

.text {
    font-size: 18px;
    color: #e5e7eb;
    padding-top: 0;
    margin-bottom: 10px;
}

.one {
    background-color: #3882f6;
    color: #e5e7eb;
    border-radius: 10px;
    border: #3882f6;
    cursor: pointer;
    font-size: 15px;
    width: 100px;
    height: 30px;
    font-weight: bold;
}

#headers {
    display: flex;
    justify-content: space-between;
    padding: 16px;
}

.la{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.left {
    max-width: 45%;
}

.right {
    max-width: 50%;
    margin: auto;
    background-color: dimgray;
    margin-top: 50px;
    padding: 100px 120px;
}

/* Second part of the page */ 

.second {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.subtitle {
    margin-top: 30px;
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.images {
    display: flex;
    justify-content: center;
    gap: 60px;
    margin-bottom: 70px;
}

img {
    height: 145px;
    width: 145px;
    border-radius: 10px;
}

.texts {
    max-width: 145px;
}

/* Third part of the web */

.third {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: lightgrey;
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 50px;
    padding-bottom: 50px;
}

p {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1f2937;
}

span {
    display: flex;
    justify-content: flex-end;
    font-size: 20px;
    font-weight: 800;
    color: #1f2937;
}







